/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "users";
 @import "sessions";
 @import "transactions";

body, html {
  height: 95%;
  display: grid;
  background: #181818;
  color: white;
}

textarea {
  resize: none;
}

a, a:hover, a:focus {
  color: #ffb204;
}

select, input {
  color: black;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #2d2d2d;
}

.table th, .table td {
    border-top: none !important;
    border-left: none !important;
}

.form-control {
  font-family: 'Saira', sans-serif;
}

.form-group {
  margin-bottom: 10px;
}

.form-group-condensed {
  margin-bottom: 5px;
}

.navbar-brand {
  font-family: 'Electrolize', sans-serif;
  font-size: 40px;
}

.navbar-right a {
  font-family: 'Saira', sans-serif;
  font-size: 20px;
}

.nav > li > a:hover {
  background-color: transparent;
}

.navbar li a.current {
  background-color: #ffb204;
  color: #181818;
}

.orange-button {
  background-color: #2d2d2d;
  height: 40px;
  font-size: 20px;
  font-family: 'Saira', sans-serif;
  padding-top: 0px;
  color: #ffb204;
}

.orange-button:hover, .orange-button:focus {
  background-color: #2d2d2d;
  color: #ffb204;
}

.form-control {
  height: 40px;
}
