// Place all the styles related to the Transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#schedule-form {
  margin: auto;
  float: none;
  text-align: left;
}

span.new-transaction {
  font-family: sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #181818;
  background: #ffb204;
  border-radius: 50%;
  padding-left: 10px;
  padding-right: 10px;
}

.transactions a.current-transactions, .transactions a.current-transactions:hover {
  background-color: #ffb204;
  color: #181818;
}

.pickups a.current-pickups, .pickups a.current-pickups:hover {
  background-color: #ffb204;
  color: #181818;
}

.recharges a.current-recharges, .recharges a.current-recharges:hover {
  background-color: #ffb204;
  color: #181818;
}
